{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{eunit_opts, [no_tty, {report, {unite_compact, []}}]}.

{deps, [{lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}},
        {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.1"}}},
        {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.6.2"}}},
        {erlydtl, {git, "git://github.com/erlydtl/erlydtl.git", {branch, "master"}}},
        {epgsql, {git, "git://github.com/epgsql/epgsql.git", {tag, "3.1.0"}}},
        {uuid, {git, "git://github.com/avtobiff/erlang-uuid.git", {tag, "v0.4.6"}}},
        {iso8601 , {git, "git://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}},
        {unite, {git, "git://github.com/eproxus/unite.git", {tag, "v0.0.1"}}}
       ]}.

{relx, [{release, {'ghostlight', "0.1.0"},
         [ghostlight,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{project_app_dirs, ["apps/*"]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

% {plugins, [
%     {rebar3_erlydtl_plugin, ".*", {git, "git@github.com:tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
% ]}.
%
% {erlydtl_opts, [
%             {doc_root,   "apps/ghostlight/priv/templates"},
%             {out_dir,    "apps/ghostlight/ebin"},
%             {source_ext, ".html"},
%             {module_ext, "_template"}
%            ]}.
