/* GENERAL */

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, .title {
    font-family: 'Ovo', serif;
}

#footer {
    border-top: 1px solid #486a69;
    margin-top: 30px;
    height: auto;
}

/* Search bar */

.suggestion, .suggestion-header {
    background: white;
    width: 650px;
}


/* FORMS */

#submitButton {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.more-rows-button {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.less-rows-button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

