<!DOCTYPE html>
<html>
    <head>
        <title>Ghostlight | {% block title %} {% endblock %}</title>
        <script src="/static/js/ghostlight.js"></script>
        <link href="/static/css/ghostlight.css" media="all" rel="stylesheet" />
    </head>
    <body>
        <h1>Ghostlight</h1>
        <div id="sidebar">
            <ul>
                <li><a href="/shows">Shows!</a></li>
                <li><a href="/works">Works!</a></li>
                <li><a href="/people">People!</a></li>
            </ul>
        </div>

        <div id="content">
            {% block content %} {% endblock %}
        </div>
        <div id="footer">
          <p><a href="/">ghostlight</a> is made by <a href="http://morepaul.com">pablo</a> and baked with love. If you're feeling generous, feel free to donate to a favorite organization of yours (he suggests <a href="http://www.blackgirlscode.com/">Black Girls Code</a>, <a href="http://www.transhack.org/">Trans*H4CK</a>, or <a href="http://www.plannedparenthood.org/">Planned Parenthood</a>, and would love to learn more!)</p>
        </div>
    </body>
</html>
