{% extends "base.html" %}

{% block title %}{% if editmode %}Edit {{ title }}{% else %}New Production{% endif %}{% endblock %}

{% block footerjs %}
    <script src="/static/js/vendor/lodash.min.js"></script>
    <script src="/static/js/insert_show_form.js"></script>
    {% if editmode %}
    {% autoescape off %}<script type="text/javascript">(function() { var toEdit = {{ editmode }}; GHOSTLIGHT_EDIT(toEdit); })();</script>{% endautoescape %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="small-8 columns">
      <h1>{% if editmode %}Edit {{ title }}{% else %}New Production{% endif %}</h1>
      <p>A <strong>Title</strong> and <strong>at least one Performance</strong> is all that's required to have a production.</p>
      <p>Productions are the backbone of ghostlight (and people are the heart!), but they can be a little complicated. If you're having trouble with Productions, Pieces, and Performances, check out the Glossary.
  </div>
  <div class="small-4 columns">
      <div id="submitButton" class="button large radius success right">{% if editmode %}SAVE CHANGES{% else %}SUBMIT PRODUCTION{% endif %}</div>
  </div>
</div>
<!-- row -->

<form data-abide name="show-form">
  <label>Title:
    <input type="text" name="show-title" placeholder="The Wrapes of Grath" required autofocus /></label>

  <label>Description:
    <textarea name="show-description" placeholder="chaplain era silent motion pictures where basically the first subbed anime . click to read more"></textarea></label>
 
  <fieldset id="producerArray">
    <legend>Producers</legend>
    <div class="row">
      <div class="small-10 columns">
        <div class="panel">
          <p>Who produced this show? Each can be either <strong>a person</strong> <em>or</em> <strong>an organization</strong>. Most shows are just produced by a single organization.</p>
        </div>
      </div>
      <div class="small-2 columns">
        <div id="addProducerButton" class="button small center inline more-rows-button small">Add Producer&hellip;</div>
      </div>
    </div> <!-- row -->
  </fieldset>

  <fieldset id="performancesArray">
    <legend>Performances</legend>
    <div class="row">
      <div class="small-10 columns">
        <div class="panel">
          <p><strong>Performances</strong> are a thing you watched in a show: a piece, with a cast, director(s), often with a creative team. The <strong>Description</strong> and <strong>Director's Note</strong> can use Markdown.</p>
        </div>
      </div>
      <div class="small-2 columns">
        <div id="addPerformanceButton" class="button small center inline more-rows-button small">Add Performance&hellip;</div>
      </div>
    </div> <!-- row -->
  </fieldset>

  <fieldset id="datesArray">
    <legend>Show Dates</legend>
    <div class="row">
      <div class="small-10 columns">
        <div class="panel">
          <p>When did/does this show go up?</p>
        </div>
      </div>
      <div class="small-2 columns">
        <div id="addDateButton" class="button small center inline more-rows-button small">Add Date&hellip;</div>
      </div>
    </div> <!-- row -->
  </fieldset>

  <fieldset id="linkArray">
    <legend>Social Media</legend>
    <div class="row">
      <div class="small-10 columns">
        <div class="panel">
          <p>Web presence elsewhere (Website, Mailing List, Twitter&hellip;)</p>
        </div>
      </div>
      <div class="small-2 columns">
        <div id="addLinkButton" class="button small center inline more-rows-button small">Add Link&hellip;</div>
      </div>
    </div> <!-- row -->
  </fieldset>

  <fieldset id="pressArray">
    <legend>Press Links</legend>
    <div class="row">
      <div class="small-10 columns">
        <div class="panel">
          <p>Did this show get coverage? Reviews? Previews? Put'em here!</p>
        </div>
      </div>
      <div class="small-2 columns">
        <div id="addPressButton" class="button small center inline more-rows-button small">Add Link&hellip;</div>
      </div>
    </div> <!-- row -->
  </fieldset>

  <label>Special Thanks:
    <textarea name="show-special-thanks" placeholder="chaplain era silent motion pictures where basically the first subbed anime . click to read more"></textarea></label>

  <fieldset id="hostsArray">
    <legend>Hosts</legend>
    <div class="row">
      <div class="small-10 columns">
        <div class="panel">
          <p>Did this show have hosts or emcees? Most don't, but we love to accomodate.</p>
        </div>
      </div>
      <div class="small-2 columns">
        <div id="addPressButton" class="button small center inline more-rows-button small">Add Host&hellip;</div>
      </div>
    </div> <!-- row -->
  </fieldset>
</form>
{% endblock %}
