{% extends "base.html" %}

{% block title %}{% if editmode %}Edit {{ title }}{% else %}New Piece{% endif %}{% endblock %}

{% block footerjs %}
    <script src="/static/js/vendor/lodash.min.js"></script>
    <script src="/static/js/insert_work_form.js"></script>
    {% if editmode %}
    {% autoescape off %}<script type="text/javascript">(function() { var toEdit = {{ editmode }}; GHOSTLIGHT_EDIT(toEdit); })();</script>{% endautoescape %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="small-8 columns">
      <h1>{% if editmode %}Edit {{ title }}{% else %}New Piece{% endif %}</h1>
      <p>Only a <strong>Title</strong> and <strong>Authors</strong> are required to have a piece. The rest are delightful details.</p>

    <p>The <strong>Description</strong> field can be formatted with <a href="http://chrisalley.github.io/commonmark-website/">Markdown</a>, a set of rules used on sites like <a href="http://reddit.com">Reddit</a> and <a href="https://github.com">GitHub</a> to let you format your text easily. The basics are described <a href="https://help.github.com/articles/markdown-basics/">here</a>, or you can go through a 10-minute Markdown tutorial <a href="http://markdowntutorial.com/">here!</a></p>
  </div>
  <div class="small-4 columns">
      <div id="submitButton" class="button large radius success right">{% if editmode %}SAVE CHANGES{% else %}SUBMIT PIECE{% endif %}</div>
  </div>
</div>
<!-- row -->

<form data-abide name="work-form">
  <label>Title:
    <input type="text" name="work-title" placeholder="Taco Fiddlemore" required autofocus /></label>

  <fieldset id="linkArray">
    <legend>Authors</legend>
    <div class="row">
      <div class="small-10 columns">
        <div class="panel">
          <p>You can have any number of authors, but need at least one. Each author can be <strong>a person</strong> <em>or</em> <strong>an organization</strong>.</p>
        </div>
      </div>
      <div class="small-2 columns">
        <div id="addAuthorButton" class="button small center inline more-rows-button small">Add Author&hellip;</div>
      </div>
    </div> <!-- row -->
  </fieldset>

  <label>Description:
    <textarea name="work-description" placeholder="chaplain era silent motion pictures where basically the first subbed anime . click to read more"></textarea></label>

  <label>Collaborating Organization:
    <input type="text" name="collab-org" placeholder="The Goose Lightning Collective" /></label>
</form>
{% endblock %}
