{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
  <h1>{{ name }}</h1>
  {% if tagline %}
    <h2 class="subheader">{{ tagline }}</h2>
  {% endif %}

  {% if links %}
    <ul>
        {% if links.website %}<li><a href="{{ links.website }}">Website</a></li>{% endif %}
        {% if links.email %}<li><a href="{{ links.email }}">Email</a></li>{% endif %}
        {% if links.blog %}<li><a href="{{ links.blog }}">Blog</a></li>{% endif %}
        {% if links.newsletter %}<li><a href="{{ links.newsletter }}">Newsletter</a></li>{% endif %}
        {% if links.facebook %}<li><a href="{{ links.facebook }}">Facebook</a></li>{% endif %}
        {% if links.twitter %}<li><a href="{{ links.twitter }}">Twitter</a></li>{% endif %}
        {% if links.instagram %}<li><a href="{{ links.instagram }}">Instagram</a></li>{% endif %}
        {% if links.tumblr%}<li><a href="{{ links.tumblr }}">Tumblr</a></li>{% endif %}
        {% if links.vimeo %}<li><a href="{{ links.vimeo }}">Vimeo</a></li>{% endif %}
        {% if links.youtube %}<li><a href="{{ links.youtube }}">YouTube</a></li>{% endif %}
        {% if links.pinterest %}<li><a href="{{ links.pinterest }}">Pinterest</a></li>{% endif %}
        {% if links.gplus %}<li><a href="{{ links.gplus }}">G+</a></li>{% endif %}
    </ul>
  {% endif %}

  {% if description %}
    {% autoescape off %}
      {{ description }}
    {% endautoescape %}
  {% endif %}
 
  {% if shows %}
    <h3>Shows produced</h3>
    <table>
      <tr>
        <th>Piece(s)</th>
        <th>Production</th>
        <th>Run</th>
      </tr>
    {% for show in shows %}
      <tr>
        <td>
          {% for performance in show.performances %}
          <a href="/works/{{ performance.work_id }}">{{ performance.work_title }}</a><br />
          {% endfor %}
        </td>
        <td><a href="/shows/{{ show.show_id }}">{{ show.show_title }}</a></td>
        {% if show.first_show == show.last_show %}
            <td class="text-center">{{ show.first_show|date:"n/j/o" }}</td>
        {% else %}
            <td class="text-center">{{ show.first_show|date:"n/j/o" }} &ndash; {{ show.last_show|date:"n/j/o" }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if employees %}
    <h3>Employees</h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Employee</th>
        <th>Description</th>
      </tr>
    {% for employee in employees %}
      <tr>
      <td>{{ employee.title }}</td>
      <td><a href="/people/{{ employee.person_id }}">{{ employee.person_name }}</a></td>
      <td>{% autoescape off %}{{ employee.person_description }}{% endautoescape %}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if members %}
    <h3>Members</h3>
    <table>
      <tr>
        <th>Member</th>
        <th>Description</th>
      </tr>
    {% for member in members %}
      <tr>
      <td><a href="/people/{{ member.person_id }}">{{ member.person_name }}</a></td>
      <td>{% autoescape off %}{{ member.person_description }}{% endautoescape %}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
