{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-8 columns">
      <h1>{{ name }}</h1>
    </div>
    <div class="small-4 columns">
      <a href="/organizations/{{ id }}/edit" id="submitButton" class="button large radius success right">EDIT</a>
    </div>
  </div>

  {% if tagline %}
  {% autoescape off %}
    <h3 class="subheader">{{ tagline }}</h3>
  {% endautoescape %}
  {% endif %}

  {% include "social_media.html" %}

  {% if description %}
    {% autoescape off %}
      {{ description }}
    {% endautoescape %}
  {% endif %}
 
  {% if shows %}
    <h3>Shows produced</h3>
    <table>
      <tr>
        <th>Piece(s)</th>
        <th>Production</th>
        <th>Run</th>
      </tr>
    {% for show in shows %}
      <tr>
        <td>
          {% for performance in show.performances %}
          <a href="/works/{{ performance.work_id }}">{{ performance.work_title }}</a><br />
          {% endfor %}
        </td>
        <td><a href="/shows/{{ show.show_id }}">{{ show.show_title }}</a></td>
        {% if show.first_show == show.last_show %}
            <td class="text-center">{{ show.first_show|date:"n/j/o" }}</td>
        {% else %}
            <td class="text-center">{{ show.first_show|date:"n/j/o" }} &ndash; {{ show.last_show|date:"n/j/o" }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if employees %}
    <h3>Employees</h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Employee</th>
        <th>Description</th>
      </tr>
    {% for employee in employees %}
      <tr>
      <td>{{ employee.title }}</td>
      <td><a href="/people/{{ employee.person_id }}">{{ employee.person_name }}</a></td>
      <td>{% autoescape off %}{{ employee.person_description }}{% endautoescape %}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if members %}
    <h3>Members</h3>
    <table>
      <tr>
        <th>Member</th>
        <th>Description</th>
      </tr>
    {% for member in members %}
      <tr>
      <td><a href="/people/{{ member.person_id }}">{{ member.person_name }}</a></td>
      <td>{% autoescape off %}{{ member.person_description }}{% endautoescape %}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
