{% extends "base.html" %}

{% block title %}Organizations{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-8 columns">
      <h1>Organizations</h1>
    </div>
    <div class="small-4 columns">
      <a href="/organizations/new" id="submitButton" class="button large radius success right">+ NEW ORG</a>
    </div>
  </div>

  <table>
      <tr>
          <th>Organization</th>
          <th>Tagline</th>
          <th>Description</th>
      </tr>

      {% for org in orgs %}
      <tr>
          <td><a href="/organizations/{{ org.org_id }}">{{ org.name }}</a></td>
          <td>{% autoescape off %}{{ org.tagline }}{% endautoescape %}</td>
          <td>{% autoescape off %}{{ org.description }}{% endautoescape %}</td>
      </tr>
      {% endfor %}
  </table>
  
{% endblock %}
