  {% comment %}
    Basic widget to display an Org as a Foundation Row.

    Params: Org proplist, called 'org'.
  {% endcomment %}

<div class="row text-center">
      <div class="small-12 columns">
        <h3><a href="/organizations/{{ org.id }}">{{ org.name }}</a></h3>
      </div>
    {% if org.position %}
      <div class="small-12 columns">
        <p><strong>{{ org.position }}</strong></p>
      </div>
    {% endif %}
    {% if org.tagline %}
      <div class="small-12 columns">
        <small>{% autoescape off %}{{ org.tagline|truncatewords_html:30 }}{% endautoescape %}</small>
      </div>
    {% endif %}
    {% if org.description %}
      <div class="small-12 columns text-left">
        {% autoescape off %}{{ org.description|truncatewords_html:100 }}{% endautoescape %}
      </div>
    {% endif %}
</div>
