  {% comment %}
    Basic widget to display an Org as a Foundation Row.

    Params: Org proplist, called 'org'.
  {% endcomment %}

<div class="row text-center">
    <div class="small-12 columns">
      <h3><a href="/organizations/{{ org.org_id }}">{{ org.name }}</a></h3>
    </div>
    <div class="small-12 columns">
      <small>{% autoescape off %}{{ org.tagline|truncatewords_html:50 }}{% endautoescape %}</small>
    </div>
    <div class="small-12 columns text-left">
      {% autoescape off %}{{ org.description|truncatewords_html:150 }}{% endautoescape %}
    </div>
</div>
