{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
  <h1>{{ name }}</h1>

  {% include "social_media.html" %}

  {% if description %}
    {% autoescape off %}
      {{ description }}
    {% endautoescape %}
  {% endif %}

  {% if onstage_list %}
    <h2 id="performance">Performance</h2>
    {% for show in onstage_list %}
      {% include "show_widget.html" %}
    {% endfor %}
  {% endif %}

  {% if director %}
    <h2 id="director">Director</h2>
    {% for show in director %}
      {% include "show_widget.html" %}
    {% endfor %}
  {% endif %}

  {% if producer %}
    <h2 id="producer">Producer</h2>
    {% for show in producer %}
      {% include "show_widget.html" %}
    {% endfor %}
  {% endif %}

  {% if offstage_list %}
    <h2 id="offstage">Offstage Work</h2>
    {% for show in offstage_list %}
      {% include "show_widget.html" %}
    {% endfor %}
  {% endif %}

  {% if authorship %}
    <h2 id="authorship">Authorship</h2>
    <ul>
    {% for work in authorship %}
      {% include "work_widget.html" %}
    {% endfor %}
    </ul>
  {% endif %}

  {% if org_employee %}
    <h2 id="staff">Staff of</h2>
    {% for org in org_employee %}
      {% include "org_widget.html" %}
    {% endfor %}
  {% endif %}

  {% if org_member %}
    <h2 id="member">Membership</h2>
    {% for org in org_member %}
      {% include "org_widget.html" %}
    {% endfor %}
  {% endif %}
{% endblock %}
