{% extends "base.html" %}

{% block title %}People{% endblock %}

{% block content %}
  <h1>People</h1>

  <table>
      {% for person in people %}
      {% cycle 'first' 'second' 'third' 'last' as index silent %}
        {% if index == 'first' %}
            <tr class="row">
        {% endif %}
                <td class="text-center small-3 columns"><a href="/people/{{ person.id }}">{{ person.name }}</a></td>
        {% if index == 'last' %}
            </tr>
        {% endif %}
      {% endfor %}
  </table>
  
{% endblock %}
