{% extends "base.html" %}

{% block title %}Shows{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-8 columns">
      <h1>People</h1>
    </div>
    <div class="small-4 columns">
      <a href="/people/new" id="submitButton" class="button large radius success right">+ NEW PERSON</a>
    </div>
  </div>

  <table>
      {% for person in people %}
      {% cycle 'first' 'second' 'third' 'last' as index silent %}
        {% if index == 'first' %}
        <tr>
            <td class="text-center"><a href="/people/{{ person.person_id }}">{{ person.person_name }}</a></td>
        {% elif index == 'last' %}
            <td class="text-center"><a href="/people/{{ person.person_id }}">{{ person.person_name }}</a></td>
        </tr>
        {% else %}
            <td class="text-center"><a href="/people/{{ person.person_id }}">{{ person.person_name }}</a></td>
        {% endif %}
      {% endfor %}
  </table>
  
{% endblock %}
