  {% comment %}
    Basic widget to display show data as a Foundation Row.

    Params: Show proplist, called 'show'.
  {% endcomment %}

  <div class="row text-center">
    <div class="small-6 columns">
      <h3><a href="/shows/{{ show.id }}">{{ show.title }}</a></h3>
    </div>
    <div class="small-4 columns">
      Presented by: {% for producer in show.producers %} 
        {% if forloop.last and not forloop.first %} and {% endif %}
        {% if producer.is_org %}<a href="/organizations/{{ producer.producer_id }}">{{ producer.producer_name }}</a>{% else %}<a href="/people/{{ producer.producer_id }}">{{ producer.producer_name }}</a>{% endif %}{% if not forloop.last %},  {% endif %}
      {% endfor %}
    </div>
    <div class="small-2 columns">
      {% if show.opening == show.closing %}
          {{ show.opening|date:"n/j/o" }}
      {% else %}
          {{ show.opening|date:"n/j/o" }} &ndash; {{ show.closing|date:"n/j/o" }}
      {% endif %}
    </div>
  </div>
  {% if show.description %}
  <div class="row">
    <div class="small-12 columns text-center">
      {{show.description}}
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="small-12 columns">
      {% for performance in show.performances %} 
        <p><a href="/works/{{ performance.work.work_id }}"><em>{{ performance.work.title }}</em></a>, by {% for author in performance.work.authors %}
          {% if forloop.last and not forloop.first %} and {% endif %}<a href="/people/{{ author.person_id }}">{{ author.name }}</a>{% if not forloop.last %},  {% endif %}{% endfor %}</p>
      {% endfor %}
    </div>
  </div>
