{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/vendor/cal-heatmap.css" />
{% endblock %}

{% block footerjs %}
    <script type="text/javascript" src="/static/js/vendor/d3.v3.min.js"> </script>
    <script type="text/javascript" src="/static/js/vendor/cal-heatmap.min.js"> </script>
    <script type="text/javascript" src="/static/js/vendor/moment.min.js"> </script>
    <script type="text/javascript" src="/static/js/vendor/moment-range.min.js"> </script>

    <script type="text/javascript" src="/static/js/view_show.js"> </script>
    <script type="text/javascript">
      (function () {
      var dates = [
          {% autoescape off %}{% for date in dates %}
            new Date({{ date|date:"Y, n - 1, j"}}){% if not forloop.last %},{% endif %}
          {% endfor %}{% endautoescape %}
      ];
      GHOSTLIGHT_VIEW(dates);
      })();
    </script>
{% endblock %}

{% block content %}
  <h1><em>{{ title }}</em></h1>
    <!-- If only one performance, author(s) here -->
    <h3>Presented by
        {% for producer in producers %}
          {% if producer.type == "org" %}<a href="/organizations/{{ producer.id }}">{{ producer.name }}</a>{% else %}<a href="/people/{{ producer.id }}">{{ producer.name }}</a>{% endif %}{% include "comma_list.html" %}
        {% endfor %}</h3>

  {% include "social_media.html" %}

  <div id="dateview"></div>

  {% if hosts %}
    <p>Hosted by {% for host in hosts %}
    <a href="/people/{{ host.id }}">{{ host.name }}</a>&nbsp;
    {% endfor %}</p>
  {% endif %}

  {% if description %}
    {% autoescape off %} {{ description }} {% endautoescape %}
  {% endif %}

  {% if press %}
    <h3>Coverage</h3>
    <ul>
      {% for press_link in press %}
      <li><a href="{{ press_link.link }}">{{ press_link.label }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% for performance in performances %}
  <hr />
      <h3><a href="/works/{{ performance.work.id }}"><em>{{ performance.work.title }}</em></a></h3>
      <h5>
    {% for author in performance.work.authors %}
      {% if author.byline %}{{ author.byline }} by {% else %}By {% endif %}
      {% if author.author.type == "org" %}<a href="/organization/{{ author.author.id }}">{{ author.author.name }}</a>{% else %}<a href="/people/{{ author.author.id }}">{{ author.author.name }}</a>{% endif %}{% if not forloop.last %}, {% endif %}
    {% endfor %}
      </h5>
      <h5> Directed by 
      {% for director in performance.directors %}
        <a href="/people/{{ director.id }}">{{ director.name }}</a>{% include "comma_list.html" %}
      {% endfor %}</h5>

      {% if performance.description %}
        {% autoescape off %} {{ performance.description }} {% endautoescape %}
      {% endif %}

      {% if performance.no_roles %}
        <p>With {% for onstage in performance.onstage %} <a href="/people/{{ onstage.id }}">{{ onstage.name }}</a>{% include "comma_list.html" %}{% endfor %}
      {% else %}
        <h5>Starring</h5>
        <table>
          <tr>
              <th><strong>Role<strong></th>
              <th><strong>Performer</strong></th>
          </tr>
        {% for onstage in performance.onstage %}
        <tr>
            <td>{{ onstage.role }}</td>
            <td><a href="/people/{{ onstage.id }}">{{ onstage.name }}</a></td>
        </tr>
        {% endfor %} <!-- for onstage -->
        </table>
      {% endif %}

      {% if performance.offstage %}
      <h5>Creative Team</h5>
      <table>
          <tr>
              <td>Position(s)</td>
              <td>Contributor</td>
          </tr>
      {% for offstage in performance.offstage %}
          <tr>
            <td>{% for job in offstage.jobs %}
                  {{ job }}{% if not forloop.last %}<br />{% endif %}
                {% endfor %}
            </td>
              <td><a href="/people/{{ offstage.id }}">{{ offstage.name }}</a></td>
          </tr>
      {% endfor %}
      </table>
      {% endif %}

      {% if performance.directors_note %}
        {% autoescape off %} {{ performance.directors_note }} {% endautoescape %}
      {% endif %}

  {% endfor %}

  {% if special_thanks %}
    <p class="text-center"><small>Special thanks to {{ special_thanks }}</small></p>
  {% endif %}
{% endblock %}
