{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
   <!-- If only one performance, author(s) here -->
   <h3>Presented by <a href="/organizations/{{ org.org_id }}">{{ org.name }}</a></h3>

   <ul>
       {% for date in dates %}
       <li><strong>{{ date|date:"l, N jS, Y, h:iA" }} </strong></li>
       {% endfor %}
   </ul>

   {% for performance in performances %}

   <h5><a href="/works/{{ performance.work.work_id }}">{{ performance.work.title }}</a>, by 
           {% for author in performance.work.authors %}
           <a href="/people/{{ author.person_id }}">{{ author.name }}</a>
           {% endfor %} </h5>
       <strong> Directed by 
       {% for director in performance.directors %}
       <a href="/people/{{ director.id }}">{{ director.name }}</a>
       {% endfor %}</strong>

       <p>Starring</p>
       <table>
         <tr>
             <th><strong>Role<strong></th>
             <th><strong>Performer</strong></th>
         </tr>
       {% for onstage in performance.onstage %}
       <tr>
           <td>{{ onstage.role }}</td>
           <td><a href="/people/{{ onstage.person_id }}">{{ onstage.name }}</a></td>
       </tr>
       {% endfor %} <!-- for onstage -->
       </table>

   {% endfor %}

   <p><small>Special thanks to {{ special_thanks }}</small></p>

{% endblock %}
