{% extends "base.html" %}

{% block title %}Productions{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-8 columns">
      <h1>Productions</h1>
    </div>
    <div class="small-4 columns">
      <a href="/shows/new" id="submitButton" class="button large radius success right">+ NEW PRODUCTION</a>
    </div>
  </div>

  <table>
    <tr>
      <th>Production</th>
      <th>Presented</th>
      <th>Producer</th>
      <th>Run</th>
    </tr>

    {% for show in shows %}
    <tr>
      <td class="text-center"><a href="/shows/{{ show.id }}">{{ show.title }}</a></td>
      <td class="text-center">
        {% for performance in show.performances %} 
          <p><a href="/works/{{ performance.work.work_id }}"><em>{{ performance.work.title }}</em></a>, by {% for author in performance.work.authors %}
          {% if forloop.last and not forloop.first %} and {% endif %}<a href="/people/{{ author.person_id }}">{{ author.name }}</a>{% if not forloop.last %},  {% endif %}{% endfor %}</p>{% endfor %}
      </td>
      <td class="text-center">
        {% for producer in show.producers %} 
          {% if forloop.last and not forloop.first %} and {% endif %}
          {% if producer.is_org %}<a href="/organizations/{{ producer.producer_id }}">{{ producer.producer_name }}</a>{% else %}<a href="/people/{{ producer.producer_id }}">{{ producer.producer_name }}</a>{% endif %}{% if not forloop.last %},  {% endif %}
        {% endfor %}
      </td>
      <td class="text-center">
        {% if show.opening == show.closing %}
            {{ show.opening|date:"n/j/o" }}
        {% else %}
            {{ show.opening|date:"n/j/o" }} &ndash; {{ show.closing|date:"n/j/o" }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  
{% endblock %}
