{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1><em>{{ title }}</em></h1>
  <h3>By
    {% for author in authors %}
      <a href="/people/{{ author.author_id }}">{{ author.author_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% if collab_org %} with <a href="/organizations/{{ collab_org.org_id }}">{{ collab_org.org_name }}</a>{% endif %}.</h3>

  {% if minutes_long %}
  <p><strong>{{ minutes_long }} minutes.</strong></p>
  {% endif %}

  {% if description %}
    {% autoescape off %}
        {{ description }}
    {% endautoescape %}
  {% endif %}

  {% if shows %}
  <h3>Production History:</h3>
  <ul>
    {% for show in shows %}
    <li>
    {% if show.show_title != title %}
    Part of <a href="/shows/{{ show.show_id }}">{{ show.show_title }}</a>, produced by
    {% else %}
    <a href="/shows/{{ show.show_id }}">Produced</a> by
    {% endif %}
        {% for producer in show.producers %}
          {% if forloop.last and not forloop.first %} and {% endif %}
          {% if producer.type == "org" %}<a href="/organizations/{{ producer.id }}">{{ producer.name }}</a>{% else %}<a href="/people/{{ producer.id }}">{{ producer.name }}</a>{% endif %}{% if not forloop.last and show.producers|length != 2 %}, {% endif %}{% endfor %}.</li>
    {% endfor %}
  </ul>
  {% endif %}

{% endblock %}
