{% extends "base.html" %}

{% block title %}Pieces{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-8 columns">
      <h1>Pieces</h1>
    </div>
    <div class="small-4 columns">
      <a href="/works/new" id="submitButton" class="button large radius success right">+ NEW PIECE</a>
    </div>
  </div>

  <table>
      <tr>
          <th>Title</th>
          <th>Authors</th>
      </tr>

      {% for work in works %}
      <tr>
          <td><a href="/works/{{ work.work_id }}">{{ work.title }}</a></td>
          <td>
          {% for author in work.authors %}
            {% if author.type == "person" %}
                <a href="/people/{{ author.id }}">{{ author.name }}</a><br />
            {% else %}
                <a href="/organizations/{{ author.id }}">{{ author.name }}</a><br />
            {% endif %}
          {% endfor %}
          </td>
      </tr>
      {% endfor %}
  </table>
  
{% endblock %}
